#format {
	margin-top: 50px;
	margin-right: 200px;
	margin-left: 200px;
	background-color: white;
}
#contact {
	text-align: center;
}
h1	{
	font: center;
	font-size: 72px;
	margin-bottom: -16px;
	}
h2	{
	margin-bottom: -12px;
	}
h4{
	margin-left:50px;
	margin-bottom:-12px;
}
